


<div class="container">
  <div class="row row-cols-auto">
    <div class="col ">
       <img src="{{ asset('uploads/img/library.jpg')}}" width="40 " height="40" class="d-inline-block align-top" alt=""></img>
    </div>
    {% if app.user %}
    <div class="col">
      <a href=""#">Привет, {{ app.user.name }}</a>
    </div>
    <div class="col">
      <a  href="{{ path('book_new') }}">Добавить книгу</a>
    </div>
    <div class="col">
      <a   href="{{ path('app_logout') }}">Выйти</a>  
    </div>
    {% else %}
      <div class="col">
        <a  href="{{ path('app_login') }}">Войти</a>
      </div>
    {%endif%}
  </div>
</div>
